* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    height: 100%;
    font-size: 32px;
    text-align: center;
    background-color: #eeeeee;
}

canvas {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 1px solid black;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

input {
    background-color: white;
    border: 1px solid black;
    outline: none;
    padding: 0.25rem 0.5rem;
}

footer {
    font-size: 14px;
}

#targetCountryImage {
    width: 200px;
    height: auto;
}

#gameForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

#guessList {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
}

#guessList>li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#guessList>li>img {
    max-height: 2rem;
}

#guessContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem;
}